.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items; flex-start;
	justify-content: center;
	width: 100vw;
    height: 100vh;
}

iframe.card {
  width: 100vw;
  height: 100vh;
  border-radius: 15px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin: 0px;
  box-sizing: border-box;
}