
html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: auto;
	flex-direction: column;
}

.header {
	height: 40px;
	flex-shrink: 0;
}

.footer {
	height: 40px;
	flex-shrink: 0;
}

.cardContainer {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
	flex-grow: 1;
}

iframe.card {
	border-radius: 15px;
	border-width: 2;
	border-color: black;
	border-style: solid;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin: 20px;
	height: 80vh;
	width: fit-content;
	flex: 1;
	flex-shrink: 1;
}
